Repository UKHomeOffice/engineering-guidance-and-standards, pull requests merged in 2023-09, with the labels that each got.

#242 Create 'Accessibility' standard
  docs/standards/accessibility.md
Labels: standard, content, Software design, accessibility

#237 Create 'Using generative AI' pattern
  docs/patterns/using-generative-ai.md
Labels: pattern, content, Ways of working, Secure development, Source management

#246 Add Catch problems early (shift left) pattern
  docs/patterns/catch-defects-early.md
Labels: pattern, Ways of working, Build release deploy

#240 Create 'Managing the security of software dependencies' standard
  docs/standards/managing-security-software-dependencies.md
Labels: standard, content, Software design, Build release deploy, Secure development, Source management

#266 Change feedback link to intermediary page with links to GitHub issues and email
  .eleventy.js
  docs/provide-feedback.md
Labels: enhancement

#259 Create 'threat modelling' pattern
  docs/patterns/threat-modelling.md
  docs/principles/proportionate-security.md
Labels: pattern, Software design, Secure development

#254 Create 'Encrypting data at rest and in transit' standard
  docs/standards/encrypting-data-rest-transit.md
Labels: standard, content, Secure development

#261 Create 'infrastructure utilisation monitoring' standard
  docs/standards/infrastructure-utilisation-monitoring.md
Labels: standard, content, Observability

#268 Removed trailing forward slash from PATH_PREFIX
  .github/workflows/build-and-deploy-main.yml
Labels: bug
