Repository UKHomeOffice/engineering-guidance-and-standards, pull requests merged in 2023-08, with the labels that each got.

#201 Create 'immutable artefacts' pattern
  docs/patterns/immutable-artefacts.md
Labels: guidance, pattern, content, Build release deploy

#194 Create 'docs as code' pattern
  docs/patterns/docs-as-code.md
Labels: documentation, pattern, content, Ways of working

#215 Create infrastructure-as-code.md
  docs/standards/infrastructure-as-code.md
Labels: standard, content, Build release deploy

#211 Fix for #209 - support path prefix in related links
  .eleventy.js
  .github/workflows/e2e-tests-on-pr.yml
  _data/eleventyComputed.js
  cypress/e2e/a11y.spec.cy.js
  cypress/e2e/spec.cy.js
  cypress/support/testing_params.js
  docs/patterns/pattern.template.md
  docs/principles/principle.template.md
  docs/standards.md
  docs/standards/standard.template.md
Labels: bug

#216 Create 'end to end product ownership' principle
  docs/principles/end-to-end-product-ownership.md
Labels: principle, content, Ways of working

#204 Create 'Managing secrets' standard
  docs/standards/managing-secrets.md
Labels: standard, content, Secure development

#218 Create 'Design from evidence' principle
  docs/principles/design-from-evidence.md
Labels: principle, content, Software design

#228 Create 'Securing application logging' pattern
  docs/patterns/securing-application-logging.md
Labels: pattern, content, Secure development, Observability
