Repository UKHomeOffice/engineering-guidance-and-standards, pull requests merged in 2023-07, with the labels that each got.

#127 Add automated accessibility testing to Cypress checks
  .eleventy.js
  .github/workflows/build-and-deploy-main.yml
  .github/workflows/e2e-tests-on-pr.yml
  _includes/layouts/collection.njk
  _includes/layouts/page.njk
  _includes/layouts/post.njk
  _includes/layouts/product.njk
  _includes/layouts/sitemap.njk
  _includes/layouts/sub-navigation.njk
  _includes/layouts/tag.njk
  _includes/layouts/tags.njk
  cypress.config.js
  cypress/e2e/a11y.spec.cy.js
  cypress/e2e/spec.cy.js
  cypress/support/commands.js
  cypress/support/testing_params.js
  docs/index.md
  docs/patterns/monitoring-as-code.md
  docs/principles/be-collaborative.md
  docs/principles/design-for-success.md
  docs/standards/minimal-documentation-set-for-a-product.md
  docs/standards/open-source-licensing.md
  docs/standards/writing-a-principle.md
  docs/standards/writing-a-standard.md
  package-lock.json
  package.json
  technical-docs/architecture-decision-records/technical-decision-log.md
Labels: enhancement

#168 Updated CONTRIBUTING.md
  .eleventyignore
  CONTRIBUTING.md
Labels: documentation

#110 Create 'work in the open' principle
  docs/principles/work-in-the-open.md
Labels: principle, content, Ways of working, Source management

#179 Excluded about page from eleventy collections
  docs/about.md
Labels: bug

#105 Create well-managed-code.md principle
  docs/principles/well-managed-code.md
Labels: documentation, principle, content, Ways of working, Source management

#195 Update technical-decision-log.md with 11ty design choice
  technical-docs/architecture-decision-records/technical-decision-log.md
Labels: documentation

#192 Create 'sustainable coding and reuseability' principle
  docs/principles/write-maintainable-reusable-and-evolutionary-code.md
Labels: principle, content, Software design

#186 Create 'Provide a good engineering experience' principle
  docs/principles/provide-good-engineering-experience.md
Labels: principle, content, Ways of working

#202 Create 'monitor and measure proactively' principle
  docs/principles/monitor-and-measure.md
Labels: principle, content, Ways of working, Build release deploy, Observability
